body{
    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
}

.container{
    width: 650px;
    margin: 40px auto;
    background: #1e293b;
    border: 2px solid #00ffff;
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(0,255,255,0.3);
}

h1{
    text-align: center;
    color: #00ffff;
    font-size: 38px;
    margin-bottom: 5px;
}

.author{
    text-align: center;
    color: #cbd5e1;
    margin-bottom: 25px;
}

label{
    font-weight: bold;
}

input, textarea{
    width: 95%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

textarea{
    resize: none;
}

button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button[value="encrypt"]{
    background: #00c853;
    color: white;
}

button[value="decrypt"]{
    background: #2962ff;
    color: white;
}

button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

h3{
    color: #00ffff;
}

pre{
    background: #111827;
    color: #00ff99;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    overflow-x: auto;
}

footer{
    text-align:center;
    margin-top:30px;
    color:#888;
    font-size:13px;
}